h1 {
  font: 400 56px "Merriweather", serif;
}
h2 {
  font: 400 32px "Merriweather", serif;
}
#home {
  h1,
  h2 {
    text-align: center;
  }
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-bottom: 70px;
  }
}
.gallery {
  display: flex;
  flex-flow: column wrap;
  .row-1 {
    max-height: 370px;
  }
  .row-2 {
    max-height: 240px;
    margin-bottom: 85px;
  }
  .row-1,
  .row-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    figure {
      flex-basis: 20%;
      position: relative;
      margin: 7px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      figcaption {
        position: absolute;
        bottom: 16px;
        left: 0;
        background-color: #2B2F26;
        color: #FCF8DF;
        font: 400 16px "Merriweather", serif;
        padding: 20px;
      }
    }
  }
  .flex-basis-3 {
    flex-basis: 60%;
    flex-grow: 3;
  }
  .flex-basis-2 {
    flex-basis: 40%;
    flex-grow: 2;
  }
}
