* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}
body > div {
  min-height: 100vh;
  position: relative;
}
body {
  background-color: $background;
  position: relative;
}
header {
  height: 70px;
  position: relative;
  background-color: $navigation-background;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, .3);
  .logo {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    width: 50px;
    height: 50px;
    float: left;
  }
  nav {
    ul {
      width: 100%;
      display: inline-block;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
    li {
      padding: 25px;
      list-style: none;
      display: inline-block;
    }
    a {
      color: $navigation-text;
      text-transform: uppercase;
      font: 16px "Roboto", sans-serif;
      &:hover {
        color: $navigation-text-hover;
      }
      &.nav-active {
        color: $navigation-text-active
      }
    }
  }
}
main {
}
footer {
  padding: 30px;
  background-color: #2B2F26;
  color: #FCF8DF;
  margin-top: 7px;
  font: 400 16px "Merriweather", serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
%clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
%clearfloat {
  clear: both;
}
