$background: #F2F1E8;
$text: #131511;
$inline-link: #968772;
$inline-link-hover: #967343;
$navigation-background: #FFFFFF;
$navigation-text: #2B2F26;
$navigation-text-hover: #CD5D67;
$navigation-text-active: #968772;
$button-background: #968772;
$button-background-hover: #967343;
$button-text: #F2F1E8;
$button-text-hover: #FFFFFF;
$input-border-bottom: #968772;
$input-border-bottom-focus: #967343;
